@font-face {
	font-family: "tb-icon";
	src: url('../fonts/tb-icon/tb-icon.eot');
	src: url('../fonts/tb-icon/tb-icon.eot?#iefix') format('eot'),
		url('../fonts/tb-icon/tb-icon.woff2') format('woff2'),
		url('../fonts/tb-icon/tb-icon.woff') format('woff'),
		url('../fonts/tb-icon/tb-icon.ttf') format('truetype'),
		url('../fonts/tb-icon/tb-icon.svg#tb-icon') format('svg');
	font-display: swap;
}

.tb-icon:before {
	font-family: "tb-icon";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.tb-icon-00-star:before {
	content: "\E001";
}

.tb-icon-02-star-light:before {
	content: "\E002";
}

.tb-icon-03-star:before {
	content: "\E003";
}

.tb-icon-account:before {
	content: "\E004";
}

.tb-icon-angle-down:before {
	content: "\E005";
}

.tb-icon-angle-left:before {
	content: "\E006";
}

.tb-icon-angle-right:before {
	content: "\E007";
}

.tb-icon-angle-up:before {
	content: "\E008";
}

.tb-icon-appliances:before {
	content: "\E009";
}

.tb-icon-arrow-left:before {
	content: "\E00A";
}

.tb-icon-arrow-left1:before {
	content: "\E00B";
}

.tb-icon-arrow-right:before {
	content: "\E00C";
}

.tb-icon-arrow-right1:before {
	content: "\E00D";
}

.tb-icon-arrow-top:before {
	content: "\E00E";
}

.tb-icon-baby-heart:before {
	content: "\E00F";
}

.tb-icon-bars:before {
	content: "\E010";
}

.tb-icon-bill:before {
	content: "\E011";
}

.tb-icon-book:before {
	content: "\E012";
}

.tb-icon-box:before {
	content: "\E013";
}

.tb-icon-btn-left:before {
	content: "\E014";
}

.tb-icon-btn-right:before {
	content: "\E015";
}

.tb-icon-bubbles:before {
	content: "\E016";
}

.tb-icon-bullet:before {
	content: "\E017";
}

.tb-icon-calendar-31:before {
	content: "\E018";
}

.tb-icon-call-phone:before {
	content: "\E019";
}

.tb-icon-call-us-question:before {
	content: "\E01A";
}

.tb-icon-calling:before {
	content: "\E01B";
}

.tb-icon-cameras:before {
	content: "\E01C";
}

.tb-icon-cart-empty:before {
	content: "\E01D";
}

.tb-icon-cart-full:before {
	content: "\E01E";
}

.tb-icon-cart-plus:before {
	content: "\E01F";
}

.tb-icon-cart:before {
	content: "\E020";
}

.tb-icon-chart-bar:before {
	content: "\E021";
}

.tb-icon-check-circle:before {
	content: "\E022";
}

.tb-icon-check:before {
	content: "\E023";
}

.tb-icon-chevron-down:before {
	content: "\E024";
}

.tb-icon-chevron-left:before {
	content: "\E025";
}

.tb-icon-chevron-right:before {
	content: "\E026";
}

.tb-icon-chevron-up:before {
	content: "\E027";
}

.tb-icon-clapboard-play:before {
	content: "\E028";
}

.tb-icon-clock:before {
	content: "\E029";
}

.tb-icon-close-01:before {
	content: "\E02A";
}

.tb-icon-close:before {
	content: "\E02B";
}

.tb-icon-cog:before {
	content: "\E02C";
}

.tb-icon-comment-alt:before {
	content: "\E02D";
}

.tb-icon-comment2:before {
	content: "\E02E";
}

.tb-icon-compare:before {
	content: "\E02F";
}

.tb-icon-cross:before {
	content: "\E030";
}

.tb-icon-cross2:before {
	content: "\E031";
}

.tb-icon-cube:before {
	content: "\E032";
}

.tb-icon-delivery-man:before {
	content: "\E033";
}

.tb-icon-document:before {
	content: "\E034";
}

.tb-icon-down:before {
	content: "\E035";
}

.tb-icon-electronic:before {
	content: "\E036";
}

.tb-icon-email:before {
	content: "\E037";
}

.tb-icon-envelope-open:before {
	content: "\E038";
}

.tb-icon-envelope:before {
	content: "\E039";
}

.tb-icon-equalizer:before {
	content: "\E03A";
}

.tb-icon-eye-1:before {
	content: "\E03B";
}

.tb-icon-eye:before {
	content: "\E03C";
}

.tb-icon-facebook-f:before {
	content: "\E03D";
}

.tb-icon-facebook:before {
	content: "\E03E";
}

.tb-icon-fashion-2:before {
	content: "\E03F";
}

.tb-icon-fashion:before {
	content: "\E040";
}

.tb-icon-fast-delivery:before {
	content: "\E041";
}

.tb-icon-filter:before {
	content: "\E042";
}

.tb-icon-free-return:before {
	content: "\E043";
}

.tb-icon-freeship:before {
	content: "\E044";
}

.tb-icon-freeshipping:before {
	content: "\E045";
}

.tb-icon-fresh:before {
	content: "\E046";
}

.tb-icon-gallery:before {
	content: "\E047";
}

.tb-icon-gaming:before {
	content: "\E048";
}

.tb-icon-gift:before {
	content: "\E049";
}

.tb-icon-google:before {
	content: "\E04A";
}

.tb-icon-grid-horizontal:before {
	content: "\E04B";
}

.tb-icon-grid:before {
	content: "\E04C";
}

.tb-icon-heart-01:before {
	content: "\E04D";
}

.tb-icon-heart-line:before {
	content: "\E04E";
}

.tb-icon-heart:before {
	content: "\E04F";
}

.tb-icon-history:before {
	content: "\E050";
}

.tb-icon-home3:before {
	content: "\E051";
}

.tb-icon-image:before {
	content: "\E052";
}

.tb-icon-kitchen:before {
	content: "\E053";
}

.tb-icon-laboratory-equipment:before {
	content: "\E054";
}

.tb-icon-laptop-2:before {
	content: "\E055";
}

.tb-icon-laptop:before {
	content: "\E056";
}

.tb-icon-level-up:before {
	content: "\E057";
}

.tb-icon-linkedin-in:before {
	content: "\E058";
}

.tb-icon-list:before {
	content: "\E059";
}

.tb-icon-loading:before {
	content: "\E05A";
}

.tb-icon-location-2:before {
	content: "\E05B";
}

.tb-icon-location-shop:before {
	content: "\E05C";
}

.tb-icon-location:before {
	content: "\E05D";
}

.tb-icon-loupe:before {
	content: "\E05E";
}

.tb-icon-magnifier:before {
	content: "\E05F";
}

.tb-icon-mail:before {
	content: "\E060";
}

.tb-icon-menu-hambuger:before {
	content: "\E061";
}

.tb-icon-menu:before {
	content: "\E062";
}

.tb-icon-minus-square:before {
	content: "\E063";
}

.tb-icon-minus:before {
	content: "\E064";
}

.tb-icon-music-note2:before {
	content: "\E065";
}

.tb-icon-pay-check:before {
	content: "\E066";
}

.tb-icon-pencil3:before {
	content: "\E067";
}

.tb-icon-pencil4:before {
	content: "\E068";
}

.tb-icon-phone01:before {
	content: "\E069";
}

.tb-icon-picture2:before {
	content: "\E06A";
}

.tb-icon-pictures:before {
	content: "\E06B";
}

.tb-icon-pinterest:before {
	content: "\E06C";
}

.tb-icon-play-circle:before {
	content: "\E06D";
}

.tb-icon-play:before {
	content: "\E06E";
}

.tb-icon-plus-square:before {
	content: "\E06F";
}

.tb-icon-plus:before {
	content: "\E070";
}

.tb-icon-pushpin:before {
	content: "\E071";
}

.tb-icon-quality:before {
	content: "\E072";
}

.tb-icon-question-circle:before {
	content: "\E073";
}

.tb-icon-quick-payment:before {
	content: "\E074";
}

.tb-icon-quickview:before {
	content: "\E075";
}

.tb-icon-quote-left:before {
	content: "\E076";
}

.tb-icon-quote:before {
	content: "\E077";
}

.tb-icon-redo2:before {
	content: "\E078";
}

.tb-icon-reply:before {
	content: "\E079";
}

.tb-icon-return:before {
	content: "\E07A";
}

.tb-icon-scissors:before {
	content: "\E07B";
}

.tb-icon-search-01:before {
	content: "\E07C";
}

.tb-icon-search:before {
	content: "\E07D";
}

.tb-icon-ship-world:before {
	content: "\E07E";
}

.tb-icon-shipping-worldwide:before {
	content: "\E07F";
}

.tb-icon-shopping-bag:before {
	content: "\E080";
}

.tb-icon-shopping-cart:before {
	content: "\E081";
}

.tb-icon-sort-amount-down:before {
	content: "\E082";
}

.tb-icon-speakers:before {
	content: "\E083";
}

.tb-icon-sport:before {
	content: "\E084";
}

.tb-icon-square:before {
	content: "\E085";
}

.tb-icon-store-24:before {
	content: "\E086";
}

.tb-icon-store:before {
	content: "\E087";
}

.tb-icon-support:before {
	content: "\E088";
}

.tb-icon-sync:before {
	content: "\E089";
}

.tb-icon-tab:before {
	content: "\E08A";
}

.tb-icon-tag:before {
	content: "\E08B";
}

.tb-icon-tag2:before {
	content: "\E08C";
}

.tb-icon-tb-list:before {
	content: "\E08D";
}

.tb-icon-tb-user:before {
	content: "\E08E";
}

.tb-icon-telephone:before {
	content: "\E08F";
}

.tb-icon-text-align-right:before {
	content: "\E090";
}

.tb-icon-timer:before {
	content: "\E091";
}

.tb-icon-toy:before {
	content: "\E092";
}

.tb-icon-trash:before {
	content: "\E093";
}

.tb-icon-trash2:before {
	content: "\E094";
}

.tb-icon-trash3:before {
	content: "\E095";
}

.tb-icon-truck:before {
	content: "\E096";
}

.tb-icon-tv:before {
	content: "\E097";
}

.tb-icon-twitter:before {
	content: "\E098";
}

.tb-icon-type-audio:before {
	content: "\E099";
}

.tb-icon-type-image:before {
	content: "\E09A";
}

.tb-icon-type-video:before {
	content: "\E09B";
}

.tb-icon-upload2:before {
	content: "\E09C";
}

.tb-icon-user:before {
	content: "\E09D";
}

.tb-icon-video:before {
	content: "\E09E";
}

.tb-icon-view-grid:before {
	content: "\E09F";
}

.tb-icon-view-list:before {
	content: "\E0A0";
}

.tb-icon-vr-google:before {
	content: "\E0A1";
}

.tb-icon-wallet:before {
	content: "\E0A2";
}

.tb-icon-window:before {
	content: "\E0A3";
}

.tb-icon-wishlist:before {
	content: "\E0A4";
}

.tb-icon-youtube:before {
	content: "\E0A5";
}

.tb-icon-zoom-in:before {
	content: "\E0A6";
}

.tb-icon-zz-coin:before {
	content: "\E0A7";
}
